---
layout: default
---

{% include header.html %}

<div class="container">
  <div style="display: flex;">
    <h1 style="flex:1 1 70%; display:inline; margin: auto;text-align: center;margin-bottom: 0.5em;">Zuru Tech Office blog</h1>
  </div>
    <div class="home">

        <div class="blog-tags-list">
            {% assign sorted_tags = site.tags | sort %}
            {% for tag in sorted_tags %}
            {% assign t = tag | first %}
            {% assign posts = tag | last %}
            <span class="blog-tag-item" id="{{ t }}-item">
            {{ t }}
        </span>
            {% endfor %}
        </div>

        <br/>
        <br/>
        <div id="slider"></div>
        <br/>
        <div class="row pack">

            {% for post in site.posts %}
                {%assign indexModulo = forloop.index0 | modulo:4%}
                {% if forloop.first == true %}
                    <div id="{{post.did}}" class="first-large-post col-md-12 col-lg-12 card" tags="{% for tag in post.tags %}
                                                     {{ tag }}
                                                     {% endfor %}">
                {% elsif indexModulo == 0 or forloop.index0 == 2%}
                    <div id="{{post.did}}" class="col-sm-6 col-md-8 col-lg-6 card-type-jumbo-standard-01" tags="{% for tag in post.tags %}
                                         {{ tag }}
                                         {% endfor %}">
                {%else%}
                    <div id="{{post.did}}" class="col-sm-6 col-md-4 col-lg-3 card" tags="{% for tag in post.tags %}
                                         {{ tag }}
                                         {% endfor %}">
                {%endif%}
                    <a href="{{ post.url | prepend: site.baseurl }}" class="index-anchor">

                        {% assign mainTag = post.tags[0] %}
                        {% assign postTheme = site.themeColor[mainTag] %}

                        <div class="panel panel-default" style="background-color:{{postTheme.backgroundColor}};color:{{postTheme.fontColor}};">

                            {% if post.img %}
                            <div class="card-image-container" style="background-color:{{postTheme.fontColor}}">
                                <img width="100%" src="{{site.baseurl}}/images/{{post.img}}" alt="{{post.title}}">
                            </div>
                            {% else %}
                            <img width="100%" src="{{site.baseurl}}/images/webjeda-logo-big.jpg" alt="{{site.title}}">
                            {% endif %}

                            <div class="panel-body">
                                <h3 class="panel-title pull-left">{{ post.title | truncate: 25 }}</h3><span
                                    class="post-meta pull-right"><small>{{ post.date | date: "%b %-d, %Y" }}</small></span>
                            </div>

                            <div class="panel-body">
                                <small>
                                    {%if forloop.first == true%}{{ post.excerpt | strip_html | strip_newlines | truncate: 280 }}
                                    {%else%}{{ post.excerpt | strip_html | strip_newlines | truncate: 160 }}
                                    {%endif%}
                                </small>
                                Read
                            </div>
                        </div>
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
