---
layout: compress
---

<!DOCTYPE html>
<html>

{% include head.html %}

<body>

{% include header.html %}

<div class="container">
    <div class="wrapper">
        {{ content }}
    </div>
</div>

{% include footer.html %}


<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.2/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/bootstrap.min.js"></script>
<script src="{{site.baseurl}}/js/jquery.min.js"></script>
<script src="{{site.baseurl}}/js/jquery-ui.min.js"></script>
<script src="{{site.baseurl}}/js/jQRangeSlider.js"></script>
<script src="{{site.baseurl}}/js/jQDateRangeSlider-min.js"></script>
<script type="text/javascript">
    var getTimeStamp = function (timeString) {
        console.log(timeString);
        return Math.round(new Date(firefoxDateIssue(timeString)).getTime()/1000)
    };

    var firefoxDateIssue = function (time) {
        console.log("firefoxDateIssue", time);
        if(time.indexOf("+") || time.indexOf("-")) {
            time = time.substring(0, time.length-6);
        }
        return time;
    };

    var getFirstPublishedDate = function (markers) {
        var min = markers[0][1];
        for(var i=0; i<markers.length; i++) {
            if(min > markers[i][1]) {
                min = markers[i][1]
            }
        }
        return firefoxDateIssue(min);
    };

    var getLastPublishedDate = function (markers) {
        var max = markers[0][1];
        for(var i=0; i<markers.length; i++) {
            if(max < markers[i][1]) {
                max = markers[i][1]
            }
        }
        return firefoxDateIssue(max);
    };

    $(document).ready(function () {
        var markers = [
        {% for post in site.posts %}
        ['{{ post.did | escape}}','{{post.date}}']{% unless forloop.last %},{% endunless %}
        {% endfor %}];

        var sliderMin = getFirstPublishedDate(markers);
        var sliderMax = getLastPublishedDate(markers);
        console.log(markers);
        $("#slider").dateRangeSlider({
            bounds: {
                min: new Date(sliderMin),
                max: new Date(sliderMax)
            },
            defaultValues: {
                min: new Date(sliderMin),
                max: new Date(sliderMax)
            }
        });

        $("#slider").bind("valuesChanging", function (e, data) {
            var min = data.values.min;
            var minTimeStamp = getTimeStamp(data.values.min.toString());
            var max = data.values.max;
            var maxTimeStamp = getTimeStamp(data.values.max.toString());
            for(var i=0; i<markers.length; i++) {
                var id = markers[i][0];
                var publishTime = markers[i][1];
                var publishTimeStamp = getTimeStamp(publishTime);
                if(publishTimeStamp > maxTimeStamp || publishTimeStamp< minTimeStamp) {
                    $("#" + id).hide();
                }
                else {
                    $("#" + id).show();
                }
            }
        });
    });
</script>
{% if site.analytics %}{% include analytics.html %}{% endif %}
</body>

</html>
