---
layout: default
---
<div class="post-container">
    {% include header.html %}
    <div class="container {{ page.did }}">
        {% if page.banner %}
        <img src="{{site.baseurl}}/images/banners/{{ page.banner }}" class="post-banner"/>
        {% else %}
        <img src="{{site.baseurl}}/images/banners/banner-default.png" class="post-banner"/>
        {% endif %}

        <div class="wrapper ">
            <div class="row">
                <div class="col-md-12">
                    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                        <header class="post-header">
                            <!--<div class="post-tags">-->
                                <!--{{ page.tags }}-->
                            <!--</div>-->
                            <p class="post-meta">
                                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{
                                    page.date | date:
                                    "%b %-d, %Y" }}
                                </time>
                                {% if page.author %} • <span itemprop="author" itemscope
                                                             itemtype="http://schema.org/Person"><span
                                    itemprop="name">{{ page.author }}</span></span>{% endif %}
                            </p>
                            <a class="close-icon" href="{{site.baseurl}}/">X</a>
                            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
                        </header>

                        <div class="post-content" itemprop="articleBody">
                            {{ content }}
                        </div>

                    </article>


                    {% if page.author.name and page.author.uri %}
                    <div style="width:3em;height:3em;background:red">
                        <a href="{{ page.author.uri }}"><h1>{{ page.author.name }}</h1></a>
                    </div>
                    {% else %}
                    <!--<div>-->
                        <!--<div style="width:4em;height:4em;border-radius:3em;background:red;"></div>-->
                        <!--<h1 style="margin-left:3em;">{{ page.author }}</h1>-->
                    <!--</div>-->
                    {% assign author = site.data.authors[page.author] %}
                    <div class="card">
                        <div class="card-body">
                            <div class="row">
                                <div class="col-lg-3 col-md-3 col-sm-3">
                                    <div class="author-thumbnail">
                                        <img src="{{author.image}}" alt="profile">
                                    </div>
                                </div>
                                <div class="col-lg-9 col-md-9 col-sm-9">
                                    <p class="author-name-title">{{ author.name }}</p>
                                    <div class="sharing-icon">
                                        <a href="{{ author.facebook }}" target="_blank" class="fa fa-facebook icon-maker"></a>
                                        <a href="{{ author.twitter }}" target="_blank" class="fa fa-twitter icon-maker"></a>
                                        <a href="{{ author.google }}" target="_blank" class="fa fa-google icon-maker"></a>
                                        <a href="{{ author.linkedin }}" target="_blank" class="fa fa-linkedin icon-maker"></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    {% endif %}
                    <div class="row">
                        <ul class="pager">
                            {% if page.next.url %}
                            <li><a class="next" href="{{page.next.url | prepend: site.baseurl}}">&laquo;
                                {{page.next.title}}</a>
                            </li>
                            {% endif %}
                            {% if page.previous.url %}
                            <li><a class="previous" href="{{page.previous.url | prepend: site.baseurl}}">{{page.previous.title}}
                                &raquo;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>