---
layout: default
---
<div class="post-container">
    {% include header.html %}
    <div>
        {{ page.tags }}
    </div>
    <div class="container {{ page.did }}">
        {% if page.banner %}
        <img src="{{site.baseurl}}/images/banners/{{ page.banner }}" class="post-banner"/>
        {% else %}
        <img src="{{site.baseurl}}/images/banners/banner-default.png" class="post-banner"/>
        {% endif %}

        <div class="wrapper ">
            <div class="row">
                <div class="col-md-12">
                    <article class="post" itemscope itemtype="http://schema.org/BlogPosting">
                        <header class="post-header">
                            <p class="post-meta">
                                <time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{
                                    page.date | date:
                                    "%b %-d, %Y" }}
                                </time>
                                {% if page.author %} • <span itemprop="author" itemscope
                                                             itemtype="http://schema.org/Person"><span
                                    itemprop="name">{{ page.author }}</span></span>{% endif %}
                            </p>
                            <a class="close-icon" href="{{site.baseurl}}/">X</a>
                            <h1 class="post-title" itemprop="name headline">{{ page.title }}</h1>
                        </header>

                        <div class="post-content" itemprop="articleBody">
                            {{ content }}
                        </div>

                    </article>


                    {% if page.author.name and page.author.uri %}
                    <div style="width:3em;height:3em;background:red">
                        <a href="{{ page.author.uri }}"><h1>{{ page.author.name }}</h1></a>
                    </div>
                    {% else %}
                    <div>
                        <div style="width:4em;height:4em;border-radius:3em;background:red;"></div>
                        <h1 style="margin-left:3em;">{{ page.author }}</h1>
                    </div>
                    {% endif %}
                    <div class="row">
                        <ul class="pager">
                            {% if page.next.url %}
                            <li><a class="next" href="{{page.next.url | prepend: site.baseurl}}">&laquo;
                                {{page.next.title}}</a>
                            </li>
                            {% endif %}
                            {% if page.previous.url %}
                            <li><a class="previous" href="{{page.previous.url | prepend: site.baseurl}}">{{page.previous.title}}
                                &raquo;</a></li>
                            {% endif %}
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>